@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  font-family: "Hanken Grotesk", sans-serif;
}
.main-wrapp {
  width: 480px;
  display: flex;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px rgb(219, 216, 216);
}

/* Result content */
.result-wrapp {
  color: #fff;
  border-radius: 15px;
  width: 240px;
  height: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}
.result-wrapp h1 {
  margin-top: 30px;
  font-size: 20px;
}

.result-score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}
.result-score span:nth-of-type(1) {
  font-size: 50px;
  font-weight: 700;
}
.result-score span:nth-of-type(2) {
  font-size: 1px;
}

.result-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 0 37px;
}

.result-text span {
  font-size: 25px;
  font-weight: 700;
}
.result-text p {
  font-size: 12px;
  text-align: center;
  color: #c3c1c1;
}

/* Summary content */
.summary-wrapp {
  box-sizing: border-box;
  padding: 0 20px;
  border-radius: 0 15px 15px 0;
  width: 240px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
}

.summary-wrapp h1 {
  margin-top: 30px;
  font-size: 20px;
}

.summary-list-wrapp {
  list-style: none;
}

.summary-list {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  border-radius: 10px;
}

.summary-list-text {
  margin-left: 30px;
  position: relative;
  font-size: 12px;
}

.summary-fountain-wrapp {
  margin-right: 10px;
  font-size: 12px;
}
.summary-list-text::before {
  content: "";
  position: absolute;
  display: inline-block;
  background: no-repeat center left / contain;
  left: -20px;
  top: -1px;
  width: 15px;
  height: 15px;
}

.summary-list:nth-child(1) {
  background-color: hsla(0, 100%, 67%, 0.08);
  color: hsl(0, 100%, 67%);
  font-weight: 600;
}
.summary-list:nth-child(2) {
  background-color: hsl(39, 100%, 56%, 0.08);
  color: hsl(39, 100%, 56%);
  font-weight: 600;
}
.summary-list:nth-child(3) {
  background-color: hsl(166, 100%, 37%, 0.08);
  color: hsl(166, 100%, 37%);
  font-weight: 600;
}
.summary-list:nth-child(4) {
  background-color: hsl(234, 85%, 45%, 0.08);
  color: hsl(234, 85%, 45%);
  font-weight: 600;
}

.summary-list:nth-child(1) .summary-list-text::before {
  background-image: url(./assets/images/icon-reaction.svg);
}

.summary-list:nth-child(2) .summary-list-text::before {
  background-image: url(./assets/images/icon-memory.svg);
}

.summary-list:nth-child(3) .summary-list-text::before {
  background-image: url(./assets/images/icon-verbal.svg);
}

.summary-list:nth-child(4) .summary-list-text::before {
  background-image: url(./assets/images/icon-visual.svg);
}

.summary-list-son {
  font-weight: bold;
  color: #000;
}
.summary-list-parents {
  color: #c3c1c1;
}
.summary-wrapp button {
  font-weight: 700;
  border-radius: 30px;
  border-style: none;
  margin-top: 10px;
  height: 35px;
  color: #fff;
  background-color: rgba(36, 36, 71, 0.993);
}
