@import url(./assets/fonts//HankenGrotesk-VariableFont_wght.ttf);

* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-wrapp {
  border: 2px solid black;
  width: 600px;
  display: flex;
}

/* Result content */
.result-wrapp {
  border: 1px solid green;
  border-radius: 15px;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.result-wrapp h1 {
  margin-top: 30px;
  font-size: 20px;
}
.result-score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
  border-radius: 50%;
  width: 130px;
  height: 130px;
}
.result-score span:nth-of-type(1) {
  font-size: 50px;
}
.result-score span:nth-of-type(2) {
  font-size: 10px;
}

.result-text {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 140px;
}

.result-text span {
  font-size: 20px;
}
.result-text p {
  font-size: 8px;
}

/* Summary content */
.summary-wrapp {
  border: 1px solid blue;
  box-sizing: border-box;
  padding: 0 20px;
  border-radius: 0 15px 15px 0;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.summary-wrapp h1 {
  margin-top: 30px;
  font-size: 20px;
}

.summary-list-wrapp {
  list-style: none;
}

.summary-list {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  border-radius: 10px;
  border: 1px solid red;
}

.summary-list-text {
  margin-left: 30px;
  border: 1px solid #000;
  position: relative;
}

.summary-fountain-wrapp {
  border: 1px solid #000;
  margin-right: 5px;
}
.summary-list-text::before {
  content: "";
  position: absolute;
  display: inline-block;
  background: no-repeat center left / contain;
  left: -20px;
  top: 1px;
  width: 15px;
  height: 15px;
}
.summary-list:nth-child(1) .summary-list-text::before {
  background-image: url(./assets/images/icon-reaction.svg);
}

.summary-list:nth-child(2) .summary-list-text::before {
  background-image: url(./assets/images/icon-memory.svg);
}

.summary-list:nth-child(3) .summary-list-text::before {
  background-image: url(./assets/images/icon-verbal.svg);
}

.summary-list:nth-child(4) .summary-list-text::before {
  background-image: url(./assets/images/icon-visual.svg);
}

.summary-list-son {
}
.summary-list-parents {
}
.summary-wrapp button {
  font-weight: 700;
  border-radius: 30px;
  border-style: none;
  height: 50px;
  color: #fff;
  background-color: midnightblue;
}
